<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazon Bot</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link href="/stylesheets/style.css">
      
</head>

<body>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
        integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <div class="container" id="main">
        <br />
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <form class="card card-sm" id="form">
                    <div class="card-body row no-gutters align-items-center">
                        <div class="col-auto">
                            <i class="fas fa-search h4 text-body"></i>
                        </div>
                        <!--end of col-->
                        <div class="col">
                            <input class="form-control form-control-lg form-control-borderless" type="text"
                                placeholder="Amazon Product URL" name="ProductURL">
                        </div>
                        <!--end of col-->
                        <div class="col-auto">
                            <button id="sbtn" class="btn btn-lg btn-success">Search</button>
                        </div>
                        <!--end of col-->
                    </div>
                </form>
            </div>
            <!--end of col-->
        </div>
        
    </div>
</body>
  <script>
        $("#sbtn").click(function(e){
            e.preventDefault();
            $.ajax({
                        type: 'POST',
                        url: "/fetch_product",
                        data: $("#form").serialize(),
                        //or your custom data either as object {foo: "bar", ...} or foo=bar&...
                        success: function (response) { 
                                //alert(response)
                                //alert("done")
                                $("#main").append(response)
                        },
                    
                });
        })
    </script>
</html>